.contactOfficeImages {
    border: 0px solid;
    border-radius: 20px;
    width: 622px;
    height: 465px; 
    /* width: 466.5px;
    height: 348.75px; */
}
.cloudFeaturesImg {
    width: 622px;
}
.monthlyFeeDiv2 {
    background-color: #333333;
    border: 0px solid;
    border-radius: 15px;
    width: 60%;
}

.contactTitleLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.contactTitleRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media only screen and (max-width: 1260px) {
    .contactOfficeImages {
        width: 466.5px;
        height: 348.75px;
    }
    .cloudFeaturesImg {
        width: 466.5px;
    }
}
@media only screen and (max-width: 990px) {
    .contactOfficeImages {
        width: 373.2px;
        height: 279px;
    }
    .cloudFeaturesImg {
        width: 373.2px;
    }
    .monthlyFeeDiv2 {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .contactTitleLeft {
        justify-content: center;
    }
    .contactTitleRight {
        justify-content: center;
    }
    #contactTitle1 {
        order: 2;
    }
    #contactTitle2 {
        order: 1;
    }
    .contactTextColMobile {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #responsiveColContact {
        display: none;
    }
    
}