html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.row {
  width: 100%;
  padding-left: 12px;
}
.col {
  padding-right: 0;
}
.col-md-6 {
  padding-right: 0;
}
.col-md {
  padding-right: 0;
}


@font-face {
  font-family: ourFont;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}
@font-face {
  font-family: ourFontLight;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
}

.ourFont {
  font-family: ourFont;
  font-family: 'Montserrat', sans-serif;
}
.ourFontLight {
  font-family: ourFontLight;
  font-family: 'Montserrat', sans-serif;
}
.colorFFF {
  color: #ffff;
}

.centerText {
  text-align: center;
}
.centerItem {
  display: flex;
  justify-content: center;
}
.myAlignLeft {
  display: flex;
  justify-content: flex-start;
}
.myAlignRight {
  display: flex;
  justify-content: flex-end;
}
.noDisplay {
  display: none;
}

.textShadow {
  text-shadow: -1px 1px 3px #808080;
}

.greenButton {
  border-style: solid;
  border-width: 0px;
  background-color: #43A97A;
  border-radius: 23.5px;
  height: 35px;
  color: #ffff;
}
.ourGreen {
  color: #43A97A;
}

.fontSize40 {
  font-size: 40px;
}
.fontSize48 {
  font-size: 48px;
}
.fontSize32 {
  font-size: 32px;
}
.fontSize20 {
  font-size: 20px;
}
.fontSize24 {
  font-size: 24px;
}
.fontSize16 {
  font-size: 16px;
}
.fontSize14 {
  font-size: 14px;
}
