.responsiveColMultimedia {

}

.multimediaBox {
    border: 0px solid;
    border-radius: 30px;
    box-shadow: 0px 4px 5px 1px #c3c3c3;

}
@media only screen and (max-width: 768px) {
    #responsiveColMultimedia {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .multimediaBoxMobile {
        width: 80%;
    }
    #multimediaBoxMobile {
        width: 83.5%;
    }
    .multimediaTextMobile {
        font-size: 16px;
    }
    #emailMultiMedia {
        display: flex;
        justify-content: center;
    }
    .multimediaMobilePad {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 600px) {
    #crmIcon {
        width: 250px;
    }
    .multimediaIcon {
        width: 40px;
    }
    .multimediaIconSMS {
        width: 50px;
    }
}
