.priceCard {
    border: 0px solid;
    border-radius: 40px;
    box-shadow: 0px 2px 6px 0px #c3c3c3;
    width: 376px;
    height: 524px;
}
.cardButtonRowPad {
    padding-top: 115px;
}
.cardButtonRowPad3 {
    padding-top: 28px;
}
.pricesTextFix {
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    .priceCard {
        width:  100%;
    }
}